<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="../css/all.min.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/base.css">
	<style>
		.wrapper {max-width: 720px; margin: 50px auto;}
		h1.logo {padding: .5em 0; font-size: 1.5em;}
		.lists .list {padding: .5em; border-bottom: 1px solid #ddd;}
		.lists .list .title {width: 120px;}
	</style>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/moment.min.js"></script>
	<script src="../js/lodash.min.js"></script>
	<script src="../js/util.js"></script>
</head>
<body>
	<div class="wrapper">
		<h1 class="logo">잘나가 커피 메뉴</h1>
		<ul class="lists">
			<li class="list">
				<div class="title">아메리카노</div>
				<div class="price">2,500원</div>
			</li>
		</ul>
	</div>
</body>
</html>